
:root {
    --transition-time: 0.2s;
}

.light{
    --backgrnd-color1: rgb(255,255,255);
    --backgrnd-color1-hover: rgb(245,245,245);
    --backgrnd-color2: rgb(225,225,225);
    --backgrnd-color2-hover: rgb(215,215,215);
    --backgrnd-color3: rgb(195,195,195);
    --backgrnd-color3-hover: rgb(185,185,185);
    --backgrnd-color4: rgb(165,165,165);
    --backgrnd-color4-hover: rgb(155,155,155);
    --backgrnd-color5: rgb(135,135,135);
    --backgrnd-color5-hover: rgb(125,125,125);
    --backgrnd-color6: rgb(105,105,105);
    --backgrnd-color6-hover: rgb(95,95,95);
    --border-highlight-level1: #777;
    --border-highlight-level2: #999;
    --border-highlight-level3: #bbb;
    --font-color: #000;
    --font-color2: #222;
    --font-color3: #666;
    --error-font-color: #c00;
    --icon-invert: invert(0);
    --icon-brightness: brightness(100%);
    --icon-highlighted: invert(1) brightness(40%);
}

.dark{
    --backgrnd-color1: rgb(30,30,30);
    --backgrnd-color1-hover: rgb(35,35,35);
    --backgrnd-color2: rgb(40,40,40);
    --backgrnd-color2-hover: rgb(45,45,45);
    --backgrnd-color3: rgb(50,50,50);
    --backgrnd-color3-hover: rgb(55,55,55);
    --backgrnd-color4: rgb(60,60,60);
    --backgrnd-color4-hover: rgb(65,65,65);
    --backgrnd-color5: rgb(70,70,70);
    --backgrnd-color5-hover: rgb(75,75,75);
    --backgrnd-color6: rgb(80,80,80);
    --backgrnd-color6-hover: rgb(85,85,85);
    --border-highlight-level1: #777;
    --border-highlight-level2: #555;
    --border-highlight-level3: #333;
    --font-color: #ccc;
    --font-color2: #aaa;
    --font-color3: #777;
    --error-font-color: #f66;
    --icon-invert: invert(1);
    --icon-brightness: brightness(70%);
    --icon-highlighted: invert(1);
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Open Sans;
    font-size: 10.5pt;
    color: var(--font-color);
    background-color: var(--backgrnd-color1);
}

.non_selectable{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

button{
    background-color: transparent;
    color: inherit;
    transition: var(--transition-time);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

button:hover{
    border-color: #999;
}

input, select, textarea{
    background-color: transparent;
    color: inherit;
    border: 1px solid var(--border-highlight-level1);
    transition: var(--transition-time);
}

input[type=number]{
    width: 50px;
}

input[type=range]{
    vertical-align: middle;
}

input[type=file], input[type=range]{
    border: none;
}

input[type=checkbox]{
    vertical-align: top;
}

option{
    background-color: var(--backgrnd-color1);
}

a{
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

a:hover{
    color: var(--font-color2);
}

li {
    margin-bottom: 5px;
}

code{
    background-color: #1e1e1e;
    color: #ccc;
    border-radius: 4px;
    padding: 2px 3px;
    font-weight: bold;
    white-space: nowrap;
}

.icon{
    filter: var(--icon-invert) var(--icon-brightness);
    width: 20px;
    vertical-align: middle;
}

.edit_icon, .delete_icon, .draggable_icon, .widgetize_icon {
    float: right;
    margin: 0;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

.edit_icon img, .delete_icon img, .draggable_icon img, .widgetize_icon img {
    opacity: 0.5;
}

.draggable_icon{
    cursor: move!important;
}

.entity_compact .draggable_icon, .entity_compact .edit_icon, .entity_compact .delete_icon, .entity_compact .widgetize_icon{
    position: absolute!important;
    top: -7px;
    line-height: 12.5px;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: var(--backgrnd-color2);
    border: 1px solid var(--font-color3);
    border-radius: 7.5px;
}

.entity_compact .draggable_icon, .entity_compact .delete_icon{
    right: -7px;
}

.entity_compact .edit_icon{
    right: 18px;
}

.entity_compact .widgetize_icon{
    right: 43px;
}

.entity_compact .draggable_icon img, .entity_compact .edit_icon img, .entity_compact .delete_icon img{
    width: 9px!important;
}

.entity_compact .widgetize_icon img{
    width: 13px!important;
}

.map_icon{
    cursor: pointer;
}

#loading_overlay, #popup_overlay, #edit_overlay{
    position: fixed;
    width: 100%;
    height: 100%;
}

#edit_overlay{
    display: none;
    z-index: 20;
    background-color: rgba(0,0,0,0.3);
}

.currently_editing{
    z-index: 21!important;
}

#popup_overlay{
    z-index: 50;
    display: none;
    background-color: rgba(0,0,0,0.7);
}

#loading_overlay{
    z-index: 50;
    filter: invert(1);
}

#loading{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50vh;
    max-width: 80vw;
    filter: var(--icon-invert);
}

#popup{
    position: fixed;
    display: none;
    z-index: 51;
    width: 90vw;
    height: 90vh;
    top: 5vh;
    left: 5vw;
    text-align: center;
}

#popup>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#image_menu{
    overflow: auto;
    margin-top: 30px;
}

.image_menu_wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    width: 100%;
    color: #ccc;
}

#image_menu img{
    height: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.image_menu_wrapper h3{
    margin: 0 0 10px 0;
}

.image_menu_search_input{
    margin-right: 10px;
}

.blurred{
    filter: blur(2px);
}

#main{
    position: absolute;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    height: 100%;
    width: 100%;
}

#primary_menu, #secondary_menu, #tertiary_menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: initial;
    cursor: default;
    overflow: auto;
    white-space: nowrap;
}

#primary_menu{
    background-color: var(--backgrnd-color4);
}

#secondary_menu{
    background-color: var(--backgrnd-color3);
}

#tertiary_menu{
    background-color: var(--backgrnd-color2);
}

#primary_menu>div, .secondary_menu_tab, #tertiary_menu>div{
    padding: 3px 10px;
    display: inline-block;
    border-right: 1px solid var(--border-highlight-level2);
    transition: var(--transition-time);
}

#secondary_menu div{
    display: inline-block;
}

#primary_menu>div:hover{
    background-color: var(--backgrnd-color4-hover);
}

.secondary_menu_tab:hover{
    background-color: var(--backgrnd-color3-hover);
}

#tertiary_menu>div:hover{
    background-color: var(--backgrnd-color2-hover)
}

.primary_menu_active{
    background-color: var(--backgrnd-color5);
}

.secondary_menu_active{
    background-color: var(--backgrnd-color4);
}

.tertiary_menu_active{
    background-color: var(--backgrnd-color3);
}

#main_content{
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    padding-top: 20px;
}

.content_section {
    z-index: 5;
    min-height: 20px;
    position: relative;
    background-color: var(--backgrnd-color3);
    padding: 15px;
    margin-bottom: 10px;
}

.content_section > h2, .content_section > h3 {
    margin: 0;
    cursor: default;
}

.category, .entity{
    position: relative;
}

.entity_compact{
    float: left;
    margin-right: 15px!important;
    margin-bottom: 15px!important;
}

.entity_error{
    border: 2px solid red;
}

.content_image{
    height: 200px;
    margin-right: 2px;
}

.category_head{
    background-color: var(--backgrnd-color2)!important;
}

.first_content_image{
    float:left;
    width: 50%;
    max-width: 400px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.entity_compact .first_content_image{
    width:100%;
    max-width: 300px;
}

@media screen and (max-width: 500px) {
    .first_content_image{
        width:100%;
        margin-right: 0;
        max-width: none;
    }
  }

.content_gallery{
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    margin-top: 10px;
}

.content_text::after, .entity_container::after, .add_element_wrapper::before, .category_head::after, .add_popup_wrapper::after, .entity::after, .cell_br::before, .cell_hr::before{
    content: "";
    display: block;
    clear: both;
}

.content_grid{
    min-width: 200px;
    display: grid;
    grid-template-columns: auto 1fr;
    border-top: 1px solid;
    border-left: 1px solid;
}

.content_grid>div{
    padding: 10px;
    border-bottom: 1px solid var(--font-color);
    border-right: 1px solid var(--font-color);
}

.content_grid textarea{
    width: 100%;
}

.edit_name{
    width: calc(100% - 65px);
    vertical-align: 2.5px;
}

.content_section td{
    vertical-align:top;
    border: 1px solid;
    padding: 10px;
}

.content_section table{
    border-spacing: 0;
    border-collapse: collapse;
}

.content_section ul{
    margin: 0;
    padding-left: 20px;
}

.fold_arrow{
    width: 22px;
    height: 22px;
    display: inline-block;
}

.save_edit_button, .cancel_edit_button{
    float: right;
    display: none;
    margin-left: 10px;
    margin-top: 10px;
}

.draggable-mirror{
    z-index: 100;
    opacity: 0.8;
    transition: 0s!important;
}

.edit_image{
    height: 100px;
    cursor: move;
}

.edit_image_wrapper{
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.edit_image_delete{
    background-color: var(--backgrnd-color1);
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    top: -7px;
    right: -7px;
    text-align: center;
    line-height: 12px;
    cursor: pointer;
}

.skill_requirements{
    font-style: italic;
}

.entity_pure_text{
    display: inline-block;
}

#add_menu{
    background-color: var(--backgrnd-color2);
    border: 1px solid var(--border-highlight-level1);
    position: absolute;
    cursor: default;
    z-index: 100;
    display: none;
}

#add_menu>div{
    border-top: 1px solid var(--border-highlight-level1);
    padding: 5px 8px;
    transition: var(--transition-time);
}

#add_menu>div:hover{
    background-color: var(--backgrnd-color2-hover);
}

#add_menu>div:first-child{
    border: none;
}


.add_element_wrapper{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 20px;
}

.add_element{
    color: var(--font-color3);
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid;
    cursor: pointer;
    transition: var(--transition-time);
}

.add_element_small{
    width: 14px !important;
    height: 14px !important;
    line-height: 14px !important;
    border-radius: 7px !important;
    margin-left: 7px;
}

.add_element:hover{
    background-color: rgba(0,0,0,0.1);
}

.add_element_category{
    float: right;
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    border-radius: 10px !important;
    margin-left: 10px;
}

.add_popup_wrapper{
    background-color: var(--backgrnd-color2);
    border: 1px solid var(--border-highlight-level1);
    text-align: left;
    padding: 10px;
    overflow: auto;
    max-height: calc(100% - 20px);
}

.add_popup_wrapper h3{
    margin-top: 0;
}

.add_popup_grid, .settings_grid{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 5px;
}

.add_popup_grid>div, .settings_grid>div{
    margin-bottom: 5px;
    margin-right: 5px;
}

.add_commit_button{
    float: right;
    margin-left: 10px;
}

.itemeffect_edit_item input{
    margin-right: 7px;
}

.remove_element_icon{
    cursor: pointer;
    margin-left: 10px;
    vertical-align: top;
}

.filter_bar{
    text-align: right;
    margin-bottom: 10px;
}

.cell_hr{
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.cell_title_value{
    display: inline-block;
    line-height: 1.17em;
    vertical-align: top;
}

.cell_title_value span, .cell_title_value input{
    font: 400 13.3333px Arial;
    vertical-align: bottom;
}

.settings_section h2, .settings_section h3{
    margin-bottom: 10px;
}




#music_menu{
    background-color: var(--backgrnd-color4)!important;
    padding: 10px !important;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: default;
}

#music_menu .icon {
    margin: 5px 7px 0 7px;
    width: 30px;
    cursor: pointer;
}

.button_wrapper{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0 7px;
    border: 1px solid gray;
    cursor: pointer;
    text-align: center;
}

.button_wrapper:hover{
    background-color: rgba(127,127,127,0.1);
}

.button_wrapper img{
    height: 20px;
    filter: var(--icon-invert) var(--icon-brightness);
    margin-top: 5px;
}

.active_button_wrapper{
    background-color: rgba(127,127,127,0.3)!important;
}

#music_position_wrapper{
    margin: 10px 0;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

#music_position{
    width: 100%;
}

#music_position_duration{
    text-align: right;
    overflow: hidden;
}

#music_position_time{
    text-align: left;
    overflow: hidden;
}

#songlist{
    margin-top: 10px;
}

.song{
    padding: 10px !important;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template: 
        "a b e" auto
        "a c e" auto
        "a d e" auto / auto 1fr auto;
    background-color: var(--backgrnd-color2)!important;
}

.song:hover{
    background-color: var(--backgrnd-color2-hover)!important;
}

#current_song{
    background-color: var(--backgrnd-color3)!important;
}

.song a{
    cursor: pointer;
}

.song_title{
    cursor: default;
    margin-left: 8px;
    grid-area: b;
    white-space: nowrap;
    overflow: hidden;
}

.song_thumbnail{
    grid-area: a;
}

.song_thumbnail img{
    height: 60px;
}

.song_author{
    cursor: default;
    color: var(--faint-text-color);
    margin-left: 8px;
    grid-area: c;
}

.song_service{
    height: 15px;
    margin-left: 8px;
    grid-area: d;
}

.song_remove{
    grid-area: e;
    height: 20px;
    filter: opacity(75%);
    cursor: pointer;
}



.widget{
    position: fixed;
    z-index: 18;
    width: max-content;
    left: 0px;
    top: 0px;
    padding: 10px;

    background-color: var(--backgrnd-color4);
    border-left: 5px solid var(--backgrnd-color5);
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.65);
    cursor: move;
}

.widget:hover {
    border-left: 5px solid var(--backgrnd-color6);
}

.widgets_edit .widget_hide_icon{
    display: initial!important;
}

.widget_hide_icon{
    position: absolute;
    right: -7px;
    top: -7px;
    line-height: 13px;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: var(--backgrnd-color2);
    border: 1px solid var(--font-color3);
    border-radius: 7.5px;
    cursor: pointer;
    display: none;
}

.error{
    color: var(--error-font-color);
}

.dice_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 10px;
}

.dice{
    display: grid;
    grid-template: 
        "a b c" auto
        "d d d" auto
        "e e f" auto / auto 1fr auto;
    margin: 0;
}

.dice_formula_label{
    grid-area: a;
    margin-right: 5px;
}

.dice_formula{
    grid-area: b;
}

.dice_icons{
    grid-area: c;
    text-align: right;
    opacity: 0.7;
}

.dice_icon_distr{
    grid-area: f;
    margin-top: 5px;
    text-align: right;
    opacity: 0.5;
}

.dice_icons img, .dice_icon_distr img{
    margin-left: 5px;
    cursor: pointer;
}

.dice_error{
    grid-area: d;
}

.dice_roll{
    margin-top: 5px;
    grid-area: e;
}

.dice_result{
    margin-top: 5px;
    grid-area: f;
}

.dice_roll_icon{
    cursor: pointer;
    vertical-align: top;
    opacity: 0.8;
}

.unraise_hand_icon{
    display: inline-block;
    line-height: 13px;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: var(--backgrnd-color2);
    border: 1px solid var(--font-color3);
    border-radius: 7.5px;
    margin-left: 5px;
    vertical-align: 2px;
    cursor: pointer;
}

.health_bar_wrapper{
    display: grid;
    grid-template: 
        "a c d"
        "b c e";
}

.health_bar_relative_label{
    grid-area: a;
    border-bottom: 1px solid;
    text-align: center;
}

.health_bar_total_label{
    grid-area: b;
    text-align: center;
}

.health_bar_relative{
    grid-area: d;
    border-bottom: 1px solid;
    text-align: center;
}

.health_bar_total{
    grid-area: e;
    text-align: center;
}

.health_bar{
    grid-area: c;
    margin: auto 10px;
}

.health_bar_left, .health_bar_right{
    display: inline-block;
    height: 10px;
}

.health_bar_left{
    background-color: var(--backgrnd-color1);
}

.health_bar_right{
    background-color: var(--backgrnd-color6);
}